<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Product View Page</title>
    <style>
        .product-image {
            max-width: 100%;
            height: auto;
        }

        .product-details {
            margin-top: 20px;
        }
    </style>
</head>

<body>

    <!-- Product book -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <img src="{{url_for('')}}" alt="Product" class="product-image">
            </div>
            <div class="col-md-6 product-details">
                <h2>{{bookdetail.title}}</h2>
                <p>{{bookdetail.description}}</p>
                <h3>Price: {{bookdetail.price}}</h3>
                <p>Available in stock</p>

                <a href="add-to-cart.html" class="btn btn-dark">Add to Cart</a>
                <br><br>
            </div>
        </div>
    </div>


    <!-- footer -->
    <section class="myfooter">
        <footer class="bg-dark text-white text-center py-3">
            <p>&copy; 2023 BookStore. All Rights Reserved.</p>
            </div>
        </footer>
    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>