<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Cosmetic Store</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body style="background-image: url('/image/1.jpg');">
     <!-- This is navbar -->
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Cosmetic Store</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
               aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
               <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                         <a class="nav-link text-dark" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Categories
                         </a>
                         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#">Category 1</a>
                              <a class="dropdown-item" href="#">Category 2</a>
                              <a class="dropdown-item" href="#">Category 3</a>
                              <!-- Add more categories as needed -->
                         </div>
                    </li>
               </ul>
               <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                         <a class="nav-link text-dark" href="add-to-cart.html">
                              <i class="fas fa-shopping-cart"></i> Cart
                         </a>
                    </li>
               </ul>
          </div>
     </nav>

     <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>

</html>