<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Products</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body class="d-flex flex-column min-vh-100">
     <!-- This is navbar -->
     <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
          <a class="navbar-brand" href="#">Cosmetic Store</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
               aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
               <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                         <a class="nav-link text-light" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link text-light" href="/product.html">Product</a>
                    </li>
               </ul>
               <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                         <a class="nav-link text-dark  border rounded-sm" href="add-to-cart.html">
                              <i class="fas fa-shopping-cart"></i>
                              <b class="text-light">
                                   Cart
                              </b>
                         </a>
                    </li>
               </ul>
          </div>
     </nav>


     <div class="container mt-5">
          <div class="jumbotron"
               style="background-image: url(/image/2.jpg); object-fit: contain; background-size: cover;">
               <h3 class="display-4">Our Products</h3>
               <p class="lead">Let's explore our High-quality cosmetics.</p>
          </div>
     </div>

     <div class="container mt-5">
          <div class="row">
               <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card product-card">
                         <div style="height: 200px;">
                              <img src="/image/p1.webp" style="object-fit: contain; height: 200px;" class="card-img-top"
                                   alt="Product 1">
                         </div>
                         <div class="card-body">
                              <h5 class="card-title">Lotus cream</h5>
                              <p class="card-text">Rating: ★★★★☆</p>
                              <a href="product_view.html" class="btn btn-info">View Product</a>
                         </div>
                    </div>
               </div>
               <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card product-card">
                         <div style="height: 200px;">
                              <img src="/image/p2.webp" style="object-fit: contain; height: 200px;" class="card-img-top"
                                   alt="Product 1">
                         </div>
                         <div class="card-body">
                              <h5 class="card-title">Infallible</h5>
                              <p class="card-text">Rating: ★★★★☆</p>
                              <a href="product_view.html" class="btn btn-info">View Product</a>
                         </div>
                    </div>
               </div>
               <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card product-card">
                         <div style="height: 200px;">
                              <img src="/image/p3.webp" style="object-fit: contain; height: 200px;" class="card-img-top"
                                   alt="Product 1">
                         </div>
                         <div class="card-body">
                              <h5 class="card-title">True Match Mineral</h5>
                              <p class="card-text">Rating: ★★★★☆</p>
                              <a href="product_view.html" class="btn btn-info">View Product</a>
                         </div>
                    </div>
               </div>
               <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card product-card">
                         <div style="height: 200px;">
                              <img src="/image/p4.webp" style="object-fit: contain; height: 200px;" class="card-img-top"
                                   alt="Product 1">
                         </div>
                         <div class="card-body">
                              <h5 class="card-title">Loreal Shampoo</h5>
                              <p class="card-text">Rating: ★★★★☆</p>
                              <a href="product_view.html" class="btn btn-info">View Product</a>
                         </div>
                    </div>
               </div>
               <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card product-card">
                         <div style="height: 200px;">
                              <img src="/image/p5.webp" style="object-fit: contain; height: 200px;" class="card-img-top"
                                   alt="Product 1">
                         </div>
                         <div class="card-body">
                              <h5 class="card-title">Sunscreen</h5>
                              <p class="card-text">Rating: ★★★★☆</p>
                              <a href="product_view.html" class="btn btn-info">View Product</a>
                         </div>
                    </div>
               </div>
               <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card product-card">
                         <div style="height: 200px;">
                              <img src="/image/p6.webp" style="object-fit: contain; height: 200px;" class="card-img-top"
                                   alt="Product 1">
                         </div>
                         <div class="card-body">
                              <h5 class="card-title">Onion Shampoo</h5>
                              <p class="card-text">Rating: ★★★★☆</p>
                              <a href="product_view.html" class="btn btn-info">View Product</a>
                         </div>
                    </div>
               </div>
               <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card product-card">
                         <div style="height: 200px;">
                              <img src="/image/p7.webp" style="object-fit: contain; height: 200px;" class="card-img-top"
                                   alt="Product 1">
                         </div>
                         <div class="card-body">
                              <h5 class="card-title">Smooth Combo</h5>
                              <p class="card-text">Rating: ★★★★☆</p>
                              <a href="product_view.html" class="btn btn-info">View Product</a>
                         </div>
                    </div>
               </div>
               <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card product-card">
                         <div style="height: 200px;">
                              <img src="/image/p8.webp" style="object-fit: contain; height: 200px;" class="card-img-top"
                                   alt="Product 1">
                         </div>
                         <div class="card-body">
                              <h5 class="card-title">Special Sunscreen</h5>
                              <p class="card-text">Rating: ★★★★☆</p>
                              <a href="product_view.html" class="btn btn-info">View Product</a>
                         </div>
                    </div>
               </div>


          </div>
     </div>

     <!-- footer -->
     <div class="mt-auto">
          <footer class="bg-secondary text-white text-center py-3">
               <div class="row d-flex justify-content-around">
                    <div>
                         <h2>Cosmetic Store</h2>
                         <p>&copy; 2023 Cosmetic Store. All Rights Reserved.</p>
                    </div>
                    <div>
                         <h5>Links: </h5>
                         <a href="/" class="nav-link text-light">Home</a>
                         <a href="/product.html" class="nav-link text-light">Product</a>
                    </div>
               </div>
          </footer>
     </div>


     <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>

</html>